/* SwitchButton.css */
.switch-container {
    display: inline-block;
    position: relative;
    width: 50px;   /* Width of the switch */
    height: 25px;  /* Height of the switch */
  }
  
  .switch {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: background-color 0.3s;
  }
  
  .switch-on {
    background-color: green; /* Default on color, can be overridden */
  }
  
  .switch-off {
    background-color: grey; /* Default off color, can be overridden */
  }
  
  .slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px; /* Width of the slider */
    height: 20px; /* Height of the slider */
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .slider-on {
    transform: translateX(25px); /* Move slider to the right when switch is on */
  }
  
  .slider-off {
    transform: translateX(0); /* Slider position when switch is off */
  }
  