/* customToastStyles.css */
.custom-toast-class {
  background-color: #796fab; /* Example of custom background */
  border: 2px solid #333; /* Custom border */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); /* Custom shadow */
  border-radius: 20px; /* Custom border-radius */
  color: #555; /* Custom text color */
}